@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');
@import url('global.css');
* {
    margin: 0;
    font-family: 'Poppins';
    padding: 0;
}html {
    overflow-x: hidden;
} body {
    overflow-x: hidden;
    position: relative
} section {
    width: 100% !important;
} .custom-cont {
    padding: 0 10em;
}
/* =============== Navbar =================== */
.burger-menu {
    display: none;
}
.header-cont {
    display: flex;
    position: fixed;
    z-index: 100;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}.header-cont .custom-btn {
    background-color: #dfede7;
    color: black;
    font-weight: 600;
} .header-cont ul li{
    height: 5.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-right: 2em;
} .header-cont ul li a {
    text-decoration: none;
    color: black;
} 
.header-cont ul{
    display: flex;
    margin-bottom: 0;
} img.logo-img {
    width: 12em;
} .header-cont > div {
    background-color: #efefef;
    padding: 1em 2em;
    border-radius: 25px;
    font-weight: bold;
} .header-cont > div i{
    margin-left: 1em;
    font-weight: bold;
}.mobile-nav {
    position: fixed;
    z-index: 105;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
}.mobile-nav ul {
    padding: 0;
} .mobile-nav ul li {
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    margin-bottom:1em;
} #cross {
    position: fixed;
    top: 15px;
    right: 15%;
}.mobile-menu {
    display: none;
}


/* =========================================== */
/* =============== Banner =================== */
.banner-cont {
    height: 100vh;
    display: grid;
    width: 100vw !important;
    grid-template-columns: 4fr 2fr;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} .banner-cont div{
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-direction: column;
} .banner-cont h1 {
    font-size: 50pt;
    line-height: 85px;
}.hero-cont {
    max-width: 450px;
}.hero-cont p {
    padding-top: 1em;
    font-size: 24px;
} .custom-btn {
    display: block;
    text-decoration: none;
    align-self: flex-start;
    margin-top: 1em;
    border: none;
    outline: none;
    font-size: 16px;
    color: white;
    background-color: #1b222b;
    border-radius: 30px;
    padding: 1em 2em;
    font-weight: bold;
} .custom-btn i {
    margin-left: 1em;
    font-weight: bold;
    font-size: 8pt;
} .banner-cont img {
    height: 100%;
} .banner-cont div:nth-child(2) {
    width: 100%;
    overflow: hidden;
}
/* =========================================== */

/* =============== Banner =================== */
.project-cont {
    display: grid;
    margin-top: 4em;
    gap: 5em 0;
    grid-template-columns: 4fr 1fr;
}.project-cont .custom-btn {
    width: fit-content;
}
.project-disc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}  .img-div {
    width: 500px;
}.img-div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}.project-slogan {
    background-color: #ffedd7;
    width: fit-content;
    padding: .5em 1.5em;
    font-weight: 300;
    font-size: 10pt;
    border-radius: 25px;
} .project-cont h1 {
    width: 90%;
    font-size: 48px;
    line-height: 50px;
    margin-top: 10px;
}.project-disc ul {
    margin-top: 2em;
}.project-disc li {
    font-size: 24px;
    font-weight: 700;
    width: 65%;
    padding-right: 1em;
    border: 1px solid rgba(0,0,0,0);
    list-style: none;
    margin-bottom: 1em;
} .check{
    float: left;
    padding: .5em;
    margin-right: .5em;
    height: 100%;
    border: 1px solid rgba(0,0,0,0);
} .right-list li{
    width: 100%;
}
/* =========================================== */

/* ================== service ================= */
.service-cont {
    margin-top: 5em;
}
.service-cont h1 {
    text-align: center;
    margin-bottom: 1em;
}.service-cont h3 {
    min-height: 2em;
    margin-top: .5em;
}.service-cont > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    padding-bottom: 1em;
} .service-cont > div > div {
    min-height: 300px;
    padding: 3em 2em;
    background-color: #dfede7;
    display: flex;
    flex-direction: column;
} .service-cont > div > div a {
    display: block;
    background-color: white;
    color: black;
    text-decoration: none;
    width: fit-content;
    border-radius: 25px;
    margin-top: auto;
    padding: 1em;
    justify-self: flex-end;
} .service-cont > div > div a i {
    margin-left: 1em;
} 
.service-cont > div > div p {
    width: 90%;
    padding: 1em 0;
}.service-cont > div > div:nth-child(2) {
    background-color: #ffedd7;
} .service-cont >div >div:nth-child(3) {
    background-color: #bde5fe;
}

/* ================ Footer ==================== */
.footer-cont a {
    text-decoration: none;
    color: white;
}
.footer-cont {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #1b222b;
    color: white;
    padding-top: 5em;
    padding-bottom: 2em;
} .foot-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} .footer-cont p {
    width: 50%;
} .logo-cont {
    background-color: white;
    margin-bottom: 1em;
    width: fit-content;
}.foot-menu li {
    list-style-type: none;
    margin-bottom: 1em;
}.foot-menu > div {
    margin-bottom: 4em;
}
/* =========================================== */

/* ================ Testimonial ==================== */
.testi-cont * {
    user-select: none;
}
.testi-cont > div {
    background-color: #ffeed6;

}
.testi-cont > div > div {
    min-height: 50vh;
    padding-top: 2em;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.testi-cont > div > div > div:nth-child(1){
    display: flex;
    border-right: 1px solid rgba(0,0,0,.2);
    font-size: 30pt;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.testi-cont > div > div > div:nth-child(2){
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 1em;
}

/* =========================================== */

/* ================== Page Banner ================== */


.page-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-position: center;
    background-size: cover;
    background-image: url('/uploads/banner.jpg');
} .page-banner h1 {
    margin-bottom: 15px;
    font-size: 50px;
} .page-banner a {
    color: black;
    text-decoration: none;
} .page-banner span small {
    font-weight: 200;
} .blog-cont .blog-filter{
    display: flex;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
    background-color: #efefef;
    padding: 2.5px 4px;
    margin-top: 1em;
} .blog-filter span {
    min-width: 14em;
    text-align: center;
    border-radius: 25px;
    padding: 1em;
} .active-filter {
    background-color: #1b222b;
    color: white;
} .blog-body {
    padding-top: 3em;
    padding-bottom: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
} .blog-body > div {
    background-color: #ffedd7;
    padding: 1em;
} .blog-img {
    height: 200px;
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
}.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}.blog-cat {
    padding: .5em 1em;
    margin: 1em 0;
    background-color: white;
    width: fit-content;
    border-radius: 25px;
} .blog-desc h4{
    padding-bottom: 1em;
} .blog-desc p span.blog-time {
    float: right;
}.blog-body a {
    text-decoration: none;
    color:black;
}

/* =========================================== */


/* ================ Blog Detail ============== */

.blog-detail {
    padding-top: 2em;
    padding-bottom: 2em;
}

/* ============================================= */

/* ================ Blog Detail ============== */

.contact-cont {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8em;
} .contact-cont > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    min-height: 90vh;
} .contact-cont >div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
} .cont-detail {
    align-self: flex-start;
    display: flex;
    margin-bottom: 2em;
    flex-direction: row;
} .cont-detail > span {
    display: flex;
    flex-direction: column;
} .cont-detail > span:nth-child(1) {
    background-color: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    height: 4em;
    width: 4em;
    margin-right: 1em;
} .cont-detail small {
    font-weight: bold;
    margin-bottom: .5em;
} .contact-cont > div > div:nth-child(1) {
    background-color: #bde5fe;
    padding: 2em;
} .contact-cont > div > div:nth-child(1) p {
    margin-bottom: 2em;
} .contact-cont > div > div:nth-child(2) {
    background-color: #dfede7;
    
} .cont-form {
    background-color: white;
    padding: 1em;
} .cont-form > div {
    margin-bottom: 1em;
} .cont-form input , textarea{
    width: 100%;
    border: none;
    outline: none;
    background-color: #dfede7;
    padding: 1em;
} textarea {
    resize: none;
    height: 200px;
}

/* =========================================== */

/* =============== About Us ================= */

.about-cont {
    padding-top: 2em;
    padding-bottom: 2em;
}

/* =========================================== */


/* ============== Responsive ==================== */
@media screen and (max-width: 1188px) {
    .project-cont {
        grid-template-columns: 1fr;
    } .project-disc li {
        width: 100%;
    } .img-div {
        text-align: center;
    }
}
@media screen and (max-width: 1200px) {
    .blog-body {
        grid-template-columns: 1fr;
    }.blog-cont .blog-filter{ 
        flex-direction: column;
    }
}
@media screen and (max-width: 1062px) {
    .header-cont div , .header-cont ul , .header-cont .custom-btn{
        display: none;
    } .burger-menu {
        display: block !important;
        background-color: white !important;
        width: fit-content !important;
    }.banner-cont {
        grid-template-columns: auto;
    } .banner-cont img {
        display: none;
    } .contact-cont > div { 
        grid-template-columns: auto;
    }
}
@media screen and (max-width: 1178px) {
    .service-cont > div {
        grid-template-columns: auto;
    }   
}
@media screen and (max-width: 1178px) {
    .footer-cont {
        grid-template-columns: auto;
    } .foot-menu {
        margin-top: 2em;
    }
}
@media screen and (max-width: 920px) {
    .custom-cont {
        padding: 0 2em;
    }.banner-cont h1 {
        font-size: 30pt;
        line-height: 40px;
    }.hero-cont p {
        font-size: 18px;
    }.banner-cont button {
        font-size: 10px;
    } .banner-cont {
        padding-top: 125px;
        padding-left: 1em;
        padding-right: 1em;
    }  .project-cont h1 {
        width: 100% !important;
        font-size: 22px;
        line-height: 30px;
    } .project-cont img  {
        width: 100%;
    }.project-disc ul {
        margin-top: 1em;
        padding-left: 0;
    }.project-disc li {
        font-size: 20px;
        width: 100% !important;
        margin-left: 0;
        font-weight: 500;
    }.project-cont {
        gap: 1em 0;
    }.check{
        padding: .2em;
    }.footer-cont {
        padding-top: 5em;
    }.footer-cont p {
        width: 100%;
    }.testi-cont > div > div > div:nth-child(1) {
        font-size: 30px;
    }  .contact-cont { 
        padding-top: 4em;
    } .header-cont  {
        display: none;
    } .mobile-menu {
        position: fixed;
        display: flex !important;
        justify-content: space-between;
        bottom: 0;
        width: 100%;
        background-color: white;
        z-index: 100;
    } .mobile-menu > div {
        padding: 1em 1.5em;
        
    }.mobile-menu a {
        color: black;
        text-decoration: none;
    } .mobile-menu a.active {
        color: blue !important;
    }
}

/* =========================================== */
