@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');
@import url('global.css');
* {
    margin: 0;
    font-family: 'Inter';
} h1 {
    text-align: center;
}
.thinking-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100%;
    /* font-family: Algerian; */
    /* font-family: 'Arabic Ramadhan';   */
    /* font-family: 'Bradley Hand ITC';   */
    /* font-family: 'Consolas';   */
    font-family: 'Courier New';  
    /* font-family: 'OCR A';   */
    /* font-family: 'Segoe Script';   */
} .main-headers {
    font-size: 36pt;
    margin-top: -2.2em;
    color: #575757;
}.custom-cont {
    padding: 1em;
}

/* ------------- Navbar ----------------- */

.header-cont {
    margin: 0;
} .top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #6F6363;
    background: var(--priCol);
}.bot-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #6F6363;
    background: var(--priCol);

}

/* -------------------------------------- */

/* -------------- Project ---------------- */
.project-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
} .project-card > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
} .project-card > div > div {
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
    width: 300px;
    border-radius: 20px;
    height: 400px;
    border: 8px solid #D9D9D9;
    display: flex;
    padding: 1em 1em;
    align-items: flex-end;
} .overlay > div {
    height: 35%;
    color: white;
} .project-card h4 {
    margin-bottom: .5em;
} .overlay {
    max-width: 100%;
    overflow: hidden;
    top: 0;
    border-radius: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100% !important;
    position: absolute;
    background-color: rgba(0,0,0,.2);
    display: flex;
    padding: 1em 1em;
    align-items: flex-end;
}

/* -------------------------------------- */
